// app global css in SCSS form
.bg-1 {
    background: #1C0000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1C0000, #440000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1C0000, #440000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.w100 {
    width: 100%;
}

.border-bottom {
    border-bottom: 4px solid #440000;
}

.border-top {
    border-top: 4px solid #440000;
}